<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tbody th:each="account : ${accounts}" th:object="${account}">
    <tr>
        <td th:text="*{id}"></td>
        <td th:text="*{fullname}"></td>
        <td th:text="*{username}"></td>
        <td th:text="*{password}"></td>
        <td th:text="*{createdAt}"></td>
        <td th:text="*{updatedAt}"></td>
        <td><a th:href="@{'/edit/' + *{id}">Edit</a></td>
        <td><a th:href="@{'/delete/' + *{id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div><a href="/api/users">View all user</a></div>
</body>
</html>